header {
    padding: 156px 0 100px;
}

section {
    padding: 150px 0;
}
.home-body {
    background-color: rgb(189, 192, 196);
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #eeeeee;
    border-radius: 0.25rem;
}
.card-profile {
    margin-top: 30px;
    text-align: center;
}
.card-profile .card-avatar {
    margin: -50px auto 0;
    border-radius: 50%;
    overflow: hidden;
    padding: 0;
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56),
        0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.card-profile .card-avatar + .card-body {
    margin-top: 15px;
}

.card-profile .card-avatar img {
    width: 100%;
    height: auto;
}
.card-profile .card-avatar {
    max-width: 130px;
    max-height: 130px;
}
.card-plain .card-header:not(.card-avatar) {
    margin-left: 0;
    margin-right: 0;
}
.card-title {
    margin-bottom: 0.75rem;
}
.card .card-category {
    margin-top: 10px;
}
.card .card-category .material-icons {
    position: relative;
    top: 8px;
    line-height: 0;
}
.description,
.card-description,
.footer-big p {
    color: #999999;
}
.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: #fff;
    border-bottom: 1px solid #eeeeee;
}

.card .card-header-warning .card-icon,
.card .card-header-warning .card-text,
.card .card-header-warning:not(.card-header-icon):not(.card-header-text),
.card.bg-warning,
.card.card-rotate.bg-warning .front,
.card.card-rotate.bg-warning .back {
    background: linear-gradient(60deg, #ffa726, #fb8c00);
}

.card .card-header {
    border-bottom: none;
    background: transparent;
}

.card .card-header .title {
    color: #fff;
}

.card-group > .card:only-child .card-img-top,
.card-group > .card:only-child .card-header {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}
table {
    border-collapse: collapse;
}
.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}
.card-shadow{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.header{
    color: #0099ff;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
  }